@font-face {
  font-family: Lato;
  font-weight: 700;
  font-style: normal;
  src: local("Lato"),
  url("../fonts/Lato-Bold.eot") format('eot'),
  url('../fonts/Lato-Bold.woff') format('woff')
  url('../fonts/Lato-Bold.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: Lato;
  font-weight: 400;
  font-style: normal;
  src: local("Lato"),
  url('../fonts/Lato-Regular.eot') format('eot'),
  url('../fonts/Lato-Regular.woff') format('woff'),
  url('../fonts/Lato-Regular.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: Lato;
  font-weight: 300;
  font-style: normal;
  src: local("Lato"),
  url("../fonts/Lato-Light.eot") format('eot'),
  url("../fonts/Lato-Light.woff") format('woff'),
  url("../fonts/Lato-Light.woff2") format('woff2');
  font-display: swap;
}
@font-face {
  font-family: VarelaRound;
  font-weight: 400;
  font-style: normal;
  src: local("VarelaRound"),
  url("../fonts/VarelaRound-Regular.eot") format('eot'),
  url("../fonts/VarelaRound-Regular.woff") format('woff'),
  url("../fonts/VarelaRound-Regular.woff2") format('woff2');
  font-display: swap;
}